:root {
  --primary-color: #0a2b6c;
  --black: #000;
  --white: #fff;
  --text-color: #161823;

  --font-family: 'ProximaNova', sans-serif;

  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 1.2rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
  overflow-y: overlay;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
  }

  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }

  .tippy-content {
    padding: 8px 9px;
  }

  .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
  }
}

.bg-primary-btn {
  color: #fff;
  background-color: #022f6c;
}

.bg-primary-btn:hover,
.bg-primary-btn:active {
  transform: scale(1.05);
  color: #fff !important;
  transition: transform 0.1s ease;
  background-color: #022f6cdd !important;
}

.bg-gray-200 {
  background-color: #e5e7ea;
  color: #022f6c;
}

.bg-gray-200:hover,
.bg-gray-200:active {
  transition: transform 0.1s ease;
  transform: scale(1.05);
  background-color: #e5e7eaaa !important;
  color: #022f6c !important;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
